parameters:
    tmpDir: %currentWorkingDirectory%/.cache/phpstan
    treatPhpDocTypesAsCertain: false
    paths:
        - %currentWorkingDirectory%/bin
        - %currentWorkingDirectory%/config
        - %currentWorkingDirectory%/src
    excludePaths:
        - %currentWorkingDirectory%/vendor
    level: max
    parallel:
        maximumNumberOfProcesses: 2